<h2>Hi <%= @attendance.person.name.split(" ").first %>.</h2>

<p>Thanks for cooking rostis with us 2 weeks ago.<br /> We have another event in 14 days.<br /> Would you like to come again?<br /><br /></p>

<%= render partial: 'time_and_location' %>

<h2>Will you join us?</h2>

<div class="row yes_no_buttons">
  <div class="col-xs-6">
    <%= form_for @attendance, url: respond_to_return_invite_invite_path(@attendance.code) do |form| %>
      <%= form.hidden_field :state, value: 'confirmed' %>
      <%= form.submit "Yes", class: 'btn btn-default' %>
    <% end %>
  </div>
  <div class="col-xs-6">
    <%= form_for @attendance, url: respond_to_return_invite_invite_path(@attendance.code) do |form| %>
      <%= form.hidden_field :state, value: 'rejected' %>
      <%= form.submit "No", class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
