<p><%= @event.name %></p>
<p><%= @event.starts_at %></p>
<p><%= @event.location %></p>

<p><%= link_to "edit", edit_admin_event_path(@event) %></p>
<%= form_for [:admin, @event], method: :delete do |form| %>
  <%= form.submit 'delete' %>
<% end %>

<hr />

<h2>Attendees</h2>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Refugee?</th>
    <th>Status</th>
    <th>Invited by</th>
    <th>Invite link</th>
    <th></th>
  </tr>
  <% @event.attendances.each do |attendance| %>
    <tr>
      <td>
        <% if attendance.person.present? %>
          <%= link_to attendance.person.name, admin_person_path(attendance.person) %>
        <% else %>
          ???
        <% end %>
      </td>
      <td>
        <% if attendance.for_refugee? %>
          Refugee
        <% else %>
          Volunteer
        <% end %>
      </td>
      <td><%= attendance.state %></td>
      <td>
        <% if attendance.invitee.present? %>
          <%= link_to attendance.invitee.name, admin_person_path(attendance.invitee) %>
        <% else %>
          Local Welcome
        <% end %>
      </td>
      <td><%= link_to attendance.code, invite_path(attendance.code) %></td>
      <td>
        <%= form_for [:admin, attendance], method: :delete do |form| %>
          <%= form.submit "delete" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to "Add an attendee", new_admin_attendance_path(event_id: @event) %>
