<div class="form-group">
  <%= form.label :name %>
  <%= form.text_field :name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= form.label :phone_number %>
  <%= form.text_field :phone_number, class: 'form-control' %>
</div>

<div class="form-group">
  <%= form.label :refugee %>
  <%= form.check_box :refugee, class: 'form-control' %>
</div>
